/* Sidebar.css */

.sidebar {
  /* color: #ffffff; */
  /* Text color */
}

.sidebar .nav-link {
  /* color: #ffffff; */
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.sidebar .nav-link:hover {
  background-color: #e0dfdf;
}

.sidebar .nav-link.active {
  background-color: #e0dfdf;
}

.sidebar .nav-link .svg-inline--fa {
  margin-right: 10px;
}